<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LabTask4.vb.My.MySettings.L4ConnectionString" connectionString="Data Source=FLO-;Initial Catalog=L4;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LabTask4.vb.My.MySettings.dunhilConnectionString"
            connectionString="Data Source=FLO-;Initial Catalog=dunhil;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LabTask4.vb.My.MySettings.L4ConnectionString1" connectionString="Data Source=FLO-;Initial Catalog=L4;User ID=sa;Password=p@ssw0rd"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>